body {
    text-align:center;
    background:lightpink;
}
h1 {
    color:white;
    font-family: 'Allerta Stencil', sans-serif;
}
h2 {
    color:red;
    font-family: 'Niramit', sans-serif;
}
h3 {
    font-family: 'Monsterrat', sans-serif;
}
h4 {
    font-family: 'Lato', sans-serif;
}
.Shoot {
    background:blue;
    color:white;
}
.HoodFav {
    background:orange;
    color:yellow;
}
.Fortnite {
    background:yellow;
}
.StanLee  {
    background:grey;
}




